
                    ::-webkit-scrollbar {
                        width: 0.75rem;
                    }

                    ::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }

                    ::-webkit-scrollbar-thumb {
                        background-color: var(--_primitives---colors--pop);
                        border-radius: 0.75rem;
                        border: 3px solid #f1f1f1;
                    }

                    ::-webkit-scrollbar-thumb:hover {
                        background: var(--base-color-brand--primary-dark);
                    }
                